main {
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-image: linear-gradient(to right top, #070096, #0c16a8, #0f27bb, #1036ce, #0d45e1, #0b4eea, #0956f3, #075ffc, #0e63fd, #1467fe, #1a6bfe, #206fff);
}
