<div class="outer-chat-container">
    <h1>My current chats:</h1>
    <div class="chat-container">
        <div [routerLink]="['/chat','chatroom',chat]" *ngFor="let chat of chatNames" class=chat-item>
            <h1>
                {{chat}}
            </h1>
        </div>
    </div>
    <h2>Add new chats here:</h2>
    <div class="join-chat-container">
        <input placeholder="Chat Name" name="newName" type="text" [(ngModel)]="newChatName">
        <button (click)="gotoNewChat()">Add and Go!</button>
    </div>

</div>
