.Chat-Cointainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blue;
  .header, .content, .textBox{
    color: black;
    border-style: solid red 1px;
    border-radius: 5px;
  }
  .content{
    background-color: white;

  }
}
